body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(89deg, #ff5edf 0%, #00bfff 100%); /* w3c */
}

button {
  cursor: pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
